<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head"> </head>
  <body>
    <header th:replace="layout :: header"></header>
    <div class="container">
      <div th:replace="layout :: alerts"></div>
      <h2>Ingreso de producto</h2>
      <div class="card shadow-sm">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Stock</th>
              <th scope="col">Precio</th>
              <th scope="col">Proveedor</th>
              <th scope="col">Categoria</th>
              <th scope="col">Cantidad a ingresar</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="prod : ${productos}">
              <th scope="row" class="align-middle" th:text="${prod.getId}"></th>
              <td class="align-middle" th:text="${prod.getDescrip}"></td>
              <td class="align-middle" th:text="${prod.getStock}"></td>
              <td class="align-middle" th:text="${prod.getPrecio}"></td>
              <td
                class="align-middle"
                th:text="${prod.getProveedor.getNombre}"
              ></td>
              <td
                class="align-middle"
                th:text="${prod.getCategoria.getDescripcion}"
              ></td>
              <td>
                <form
                  th:action="@{/productos/new_entry_save}"
                  method="POST"
                  class="col-12"
                >
                  <input
                    type="hidden"
                    th:name="idProducto"
                    th:value="${prod.getId}"
                  />
                  <div class="input-group">
                    <input
                      placeholder="Ingresar cantidad"
                      class="form-control"
                      type="text"
                      th:name="inputStock"
                      id="inputStock"
                    />
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-dark btn-sm">
                        Realizar ingreso
                      </button>
                    </div>
                  </div>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div th:replace="layout :: scripts"></div>
  </body>
</html>
