<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head"> </head>
  <body>
    <header th:replace="layout :: header"></header>

    <div class="container">
      <h2 class="text-center">Nueva categoria</h2>
      <div class="row justify-content-center">
        <form
          th:action="@{/categorias/create}"
          th:object="${categoria}"
          method="POST"
          class="col-8"
        >
          <div class="form-group">
            <label for="inputCat">Descripcion categoria</label>
            <input
              type="text"
              th:field="*{descripcion}"
              class="form-control"
              id="inputCat"
              placeholder="Ingresar categoria"
            />
            <small
              class="form-text text-danger"
              th:if="${#fields.hasErrors('descripcion')}"
              th:errors="*{descripcion}"
            ></small>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-primary">
              Registrar categoria
            </button>
          </div>
        </form>
      </div>
    </div>

    <div th:replace="layout :: scripts"></div>
  </body>
</html>
