<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head"> </head>
  <body>
    <header th:replace="layout :: header"></header>

    <div class="container pt-4">
      <h2>Detalle</h2>
      <p>Pedido Nº: <span th:text="${pedido.getNro_pedido}"></span></p>
      <p>Fecha: <span th:text="${pedido.getFecha}"></span></p>
      <p>
        Cliente:
        <span
          th:text="${pedido.getCliente().getNombre} + ' ' + ${pedido.getCliente().getApellido}"
        ></span>
      </p>
      <p>
        Direccion: <span th:text="${pedido.getCliente().getDireccion}"></span>
      </p>
      <table class="table">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Precio Neto</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item_pedido : ${pedido.getDetalle().getItems_pedidos}">
            <td th:text="${item_pedido.getProducto().getDescrip}"></td>
            <td th:text="${item_pedido.getCantidad}"></td>
            <td th:text="${item_pedido.getProducto().getPrecio}"></td>
            <td th:text="${item_pedido.getSubtotal}"></td>
          </tr>
          <tr class="table-secondary">
            <th scope="row" colspan="3">Subtotal</th>
            <td th:text="${pedido.getDetalle().getImporte}"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <form th:action="@{/pedidos/create}" method="POST">
      <label for="inputFechaEntrega">Fecha Entrega</label>
      <input
        type="date"
        name="fechaEntrega"
        id="inputFechaEntrega"
        class="form-control"
        placeholder="Ingresar fecha de entrega"
      />
      <input
        type="hidden"
        name="nroPedido"
        th:value="${pedido.getNro_pedido}"
      />
      <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-primary">Crear Pedido</button>
      </div>
    </form>

    <div th:replace="layout :: scripts"></div>
  </body>
</html>
