<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head"> </head>
  <body>
    <header th:replace="layout :: header"></header>

    <div class="container">
      <div class="d-flex flex-row pt-2 justify-content-between">
        <h2 class="d-inline-flex align-middle flex-column">
          Listado de Categorias
        </h2>

        <div class="d-inline-flex flex-column">
          <a
            class="btn btn-success btn-sm"
            th:href="@{/categorias/excel}"
            role="button"
            >Generar Excel</a
          >
        </div>

        <div class="d-inline-flex flex-column">
          <form
            th:action="@{/categorias/leer_excel}"
            method="POST"
            enctype="multipart/form-data"
            class="col-12"
          >
            <div class="form-group d-flex">
              <div class="input-group mb-3">
                <label for="formFile" class="form-label mt-4"></label>
                <input
                  class="form-control"
                  type="file"
                  id="formFile"
                  th:name="inputExcel"
                  aria-describedby="button-addon"
                />
                <button
                  type="submit"
                  class="btn btn-info btn-sm"
                  aria-describedby="button-addon"
                >
                  Importar Excel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card shadow-sm">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Descripcion</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="categoria : ${categorias}">
              <th scope="row" th:text="${categoria.getId}"></th>
              <td th:text="${categoria.getDescripcion}"></td>
              <td>
                <a
                  class="btn btn-warning btn-sm"
                  th:href="@{/categorias/update/{id}(id=${categoria.getId})}"
                  role="button"
                  >Editar</a
                >
                <a
                  class="btn btn-danger btn-sm"
                  th:href="@{/categorias/delete/{id}(id=${categoria.getId})}"
                  role="button"
                  >Eliminar</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div th:replace="layout :: scripts"></div>
  </body>
</html>
